/** Deafault **/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.root {
  width: 100%;
  height: auto;
}

/** HTML tags **/

body {
  background-color: #ebebeb;
  font-family: "Segoe UI";
  margin: 2% 20%;
}

a {
  text-decoration: none;
}

/** Custom Classes **/

.container_page {
  position: relative;
}

.navbar_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar_menu {
  display: inline-block;
  text-align: left;
  width: 40%;
}

.navbar_item {
  padding: 5%;
  color: rgb(0, 0, 0);
  display: inline-block;
  width: 33%;
  font-weight: bold;
}

.navbar_item:hover {
  color: #0a6acb;
  font-weight: bold;
}

/** Animations **/

/** Border Box **/

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
